<br>
<div class="form-inline">
  <label class="font-weight-bold  custom-label-1">Moneda origen:</label>
  <select class="form-control ml-1 mr-2 custom-width-select"
          [(ngModel)]="search.originCurrency"
          (ngModelChange)="searchData()">
    <option *ngFor="let currency of currencies" [ngValue]="currency.code">{{currency.description}}</option>
  </select>
  <label class="font-weight-bold custom-label-1">Moneda objetivo:</label>
  <select class="form-control ml-1 mr-2 custom-width-select"
          [(ngModel)]="search.targetCurrency"
          (ngModelChange)="searchData()">
    <option *ngFor="let currency of currencies" [ngValue]="currency.code">{{currency.description}}</option>
  </select>
  <label class="font-weight-bold custom-label-1">Fecha:</label>
  <input type="text"
         class="form-control ml-1 mr-2"
         placeholder="Ingrese para buscar..."
         [(ngModel)]="search.createdAt"
         (keyup.enter)="searchData()">
</div>
<br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Moneda origen</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Moneda destino</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Fecha</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let exchange of exchanges; let index=index">
    <th scope="row">{{index + 1}}</th>
    <td>{{exchange.originCurrency}}</td>
    <td>{{exchange.originAmount}}</td>
    <td>{{exchange.targetCurrency}}</td>
    <td>{{exchange.targetAmount}}</td>
    <td>{{exchange.createdAt}}</td>
  </tr>
  </tbody>
</table>
<div class="float-right">
  <button type="button"
          class="btn btn-outline-success"
          (click)="openAddExchangeModal()">Agregar
  </button>
</div>
<app-loading *ngIf="loading"></app-loading>
