#loading-content {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
}

#vertical-separator {
  height: 210px;
}
