<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{'title'}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="exchangeForm">
      <div class="form-inline">
        <input type="text"
               class="form-control ml-1 mr-2"
               formControlName="originAmount">
        <select class="form-control ml-1 mr-2"
                formControlName="originCurrency"
                (ngModelChange)="typeExchange()">
          <option *ngFor="let currency of currencies" [ngValue]="currency.code">{{currency.description}}</option>
        </select>
      </div>
      <br>
      <div class="form-inline">
        <input type="text"
               class="form-control ml-1 mr-2"
               formControlName="targetAmount">
        <select class="form-control ml-1 mr-2"
                formControlName="targetCurrency"
                (ngModelChange)="typeExchange()">
          <option *ngFor="let currency of currencies" [ngValue]="currency.code">{{currency.description}}</option>
        </select>
      </div>
      <div class="float-right">
        <button type="button"
                class="btn btn-outline-success"
                (click)="changeIt()">Comprar
        </button>
      </div>
    </form>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
