.login-form {
  width: 340px;
  margin: 50px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 6px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.image-logo-1 {
  width: 253px;
}

.top-corner {
  position: absolute;
  top: auto;
  right: 0;
  left: 2px!important;
}

@media screen and (max-width: 960px) {
  .image-logo-2 {
    padding: 0 0 0 23px !important;
    margin-top: -8px;
  }
}

@media screen and (min-width: 961px) {
  .image-logo-2 {
    left: -400px;
    width: 375px;
    margin-top: -8px;
  }
}
