<div class="top-corner">
  <div style="float:left" class="input-group">
  </div>
</div><br><br><br><br>
<div class="login-form col">
  <form [formGroup]="userForm" style="box-shadow: 0 0 40px rgba(0, 0, 0, .5);">
    <h2 class="text-center">Iniciar sesión</h2>
    <div class="form-group mt-1">
      <input type="text"
             class="form-control"
             formControlName="username"
             [(ngModel)]="user.username"
             [class.is-invalid]="isInvalidControl('username')"
             (keyup.enter)="login(user)"
             placeholder="Usuario"
             required="required">
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="password"
               class="form-control"
               formControlName="password"
               [(ngModel)]="user.password"
               [class.is-invalid]="isInvalidControl('password')"
               (keyup.enter)="login(user)"
               placeholder="Contraseña"
               required="required">
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-block" (click)="login(user)">Iniciar sesión</button>
    </div>
  </form>
</div>
<app-loading *ngIf="loading"></app-loading>
