<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body" style="{{customStyleModal}}">
    <div class="row">
      <div class="col-md-1">
        <i class="{{iconClass}}"></i>
      </div>
      <div class="col-md-11">
        <div class="pl-2" [innerHTML]="message"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-3 btn-padding-dlg">
          <button type="button" class="btn btn-outline-{{informCodeDesc}} w-100" (click)="accept()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
